<div class="footer">
	<div class="footer__wrapper">
		<div class="footer__main">
			<div class="container">
				<div class="footer__row">
					<div class="footer__info">
						<h2>
							Контактные данные для Роскомнадзора и государственных органов
						</h2>
						<p>
							Но некоторые особенности внутренней политики представлены в исключительно положительном свете.
							В своём стремлении улучшить пользовательский опыт мы упускаем,
							что тщательные исследования конкурентов призывают нас к новым свершениям, которые,
							в свою очередь, должны быть подвергнуты целой серии независимых исследований.
							Идейные соображения высшего порядка, а также семантический разбор внешних
							противодействий предоставляет широкие возможности для своевременного выполнения сверхзадачи.
						</p>
					</div>

					<div class="footer__links">
						<a href="">Пользовательское соглашение</a>
						<a href="">Политика конфиденциальности</a>
						<a href="">Правила использования материалов сайта</a>
						<a href="">Политика использования cookies</a>
					</div>
				</div>
			</div>
		</div>

		<div class="footer__bottom">
			<div class="container">
				<a href="">
					Разработка сайта
				</a>
			</div>
		</div>
	</div>

	<button class="footer__up">
		<svg width="80%" height="80%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12 20V4M12 4L6 10M12 4L18 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	</button>
</div>

<!-- @@include('_modal.html') -->