<header class="header" data-element="header">

	<div class="container">
		<div class="header__wrapper">

			<button class="header__burger" data-element="navToggle">
				<i></i>
				<i></i>
				<i></i>
			</button>

			<span class="header__title">
				ДоброКор в зоне СВО:
			</span>

			<div class="menu">
				<div class="menu-scroll">

					<nav class="header__nav">
						<ul>
							<li><a href="/">Луганск</a></li>
							<li><a href="/">Запорожье</a></li>
							<li><a href="/">Харьков</a></li>
							<li><a href="/">Курск</a></li>
							<li><a href="/">Соледар</a></li>
							<li><a href="/">Часов Яр</a></li>

							<li>
								<div class="header__nav-caption" data-element="subNavToggle">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M17 12C17 11.4477 17.4477 11 18 11C18.5523 11 19 11.4477 19 12C19 12.5523 18.5523 13 18 13C17.4477 13 17 12.5523 17 12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M11 12C11 11.4477 11.4477 11 12 11C12.5523 11 13 11.4477 13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										<path d="M5 12C5 11.4477 5.44772 11 6 11C6.55228 11 7 11.4477 7 12C7 12.5523 6.55228 13 6 13C5.44772 13 5 12.5523 5 12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</div>

								<ul>
									<li>
										<a href="/">Луганск</a>
									</li>
									<li>
										<a href="/">Запорожье</a>
									</li>
									<li>
										<a href="/">Часов Яр</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>

					<div class="header__search">
						<form action="" method="">
							<input type="text" name="search" placeholder="Поиск">
							<button type="submit">
								<img src="img/search-icon.svg" alt="">
							</button>
						</form>
					</div>

					<div class="header__social">
						<a href="">
							<img src="img/vk.svg" alt="">
						</a>
						<a href="">
							<img src="img/ok.svg" alt="">
						</a>
						<a href="">
							<img src="img/tg.svg" alt="">
						</a>
						<a href="">
							<img src="img/wp.svg" alt="">
						</a>
					</div>

				</div>
			</div>

			<span class="header__label">
				18+
			</span>
		</div>
	</div>

</header>


