.button {
	display: inline-flex;
	align-items: center;
	position: relative;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	transition: background-color .3s, opacity .3s, box-shadow .3s;

	font-size: 16px;
	font-weight: 600;
	line-height: 25.6px;
	
	color: #fff;
	background-color: #EE8121;

	padding: 12px 42px;
	border-radius: 8px;
	border: none;
	
	&--green {
		border: 1px solid #24391D;
		background-color: #24391D;
		padding: 11px 41px;
	}

	&--light {
		border: 1px solid #24391D;
		background-color: #fff;
		color: #24391D;
		padding: 11px 41px;
	}

	@media (hover: hover) {
		&:hover {
			background-color: #3F3F3F;
		}

		&--green:hover {
			color: #24391D;
			background-color: #ffffff;
		}

		&--light:hover {
			color: #fff;
		}
	}

	// @media only screen and (max-width: 1800px) {
	// 	font-size: 16px;
	// 	font-weight: 600;
	// 	line-height: 20px;
	// 	padding: 16px;
	// }
}